@page "/goal/{token}"

@using Domain
@using Domain.DataTypes
@inject MemoryDatabase MemoryDatabase
@inject NavigationManager NavigationManager;

@if (_report != null)
{
    <PageTitle>Objetivo: @goal.Title</PageTitle>
    <h3 class="mb-3">@goal.Title</h3>

    <div>
        <strong>Categorías:</strong>
        <ul class="list-unstyled">
            @foreach (Category category in @goal.Categories)
            {
                <li class="ml-3">@category.Name</li>
            }
        </ul>
    </div>

    <p class="mt-3"><strong>Objetivo:</strong> Gastar menos de $@goal.MaxAmount</p>
    <p><strong>Gastado actualmente:</strong> $@_report.AmountSpent</p>
}
else
{
    <p>Goal not found. Redirecting to error page...</p>
    Task.Delay(2000);
    NavigationManager.NavigateTo("/error");

}

@code {
    [Parameter]
    public string Token { get; set; }
    private Goal goal;
    private Domain.Workspace _workspace;
    private Domain.GoalsReport _report;


    protected override void OnInitialized()
    {
        goal = FindGoalByToken(Token);
        _report = GenerateReport();
    }

    private Goal FindGoalByToken(string token)
    {
        List<User> allUsers = MemoryDatabase.Users;

        foreach (var user in allUsers)
        {
            foreach (var workspace in user.WorkspaceList)
            {
                var goal = workspace.GoalList.FirstOrDefault(g => g.Token == token);

                if (goal != null)
                {
                    _workspace = goal.Workspace;
                    return goal;
                }
            }
        }
        return null;
    }

    private GoalsReport GenerateReport()
    {
        if (goal != null)
        {
            GoalsReport report = new GoalsReport
                {
                    WorkSpace = _workspace,
                    Goal = goal
                };
            report.CalculateReport();
            return report;
        }
        else
        {
            return null;
        }
    }

}