@page "/goal/{token}"

@using Domain
@using Domain.DataTypes
@using Microsoft.EntityFrameworkCore;
@inject FintracContext FintracContext;
@inject NavigationManager NavigationManager;

@if (_report != null)
{
    <PageTitle>Objetivo: @goal.Title</PageTitle>
    <h3 class="mb-3">@goal.Title</h3>

    <div>
        <strong>Categorías:</strong>
        <ul class="list-unstyled">
            @foreach (Category category in @goal.Categories)
            {
                <li class="ml-3">@category.Name</li>
            }
        </ul>
    </div>

    <p class="mt-3"><strong>Objetivo:</strong> Gastar menos de $@goal.MaxAmount</p>
    <p><strong>Gastado actualmente:</strong> $@_report.AmountSpent</p>
}
else
{
    <p>Goal not found. Redirecting to error page...</p>
    Task.Delay(2000);
    NavigationManager.NavigateTo("/error");

}

@code {
    [Parameter]
    public string Token { get; set; }
    private Goal goal;
    private Domain.Workspace _workspace;
    private Domain.GoalsReport _report;


    protected override void OnInitialized()
    {
        var users = FintracContext.Users
            .ToList();
        var workspaces = FintracContext.Users
            .Include(u => u.Workspaces)
            .ToList();
        var workspacesCategories = FintracContext.Users
           .Include(u => u.Workspaces)
           .ThenInclude(w => w.Categories)
           .ToList();
        var workspacesGoals = FintracContext.Users
            .Include(u => u.Workspaces)
            .ThenInclude(w => w.Goals)
            .ToList();
        var accountsTransactions = FintracContext.Users
            .Include(u => u.Workspaces)
            .ThenInclude(w => w.Accounts)
            .ThenInclude(a => a.Transactions)
            .ToList();

        var goalCategoriesRelation = FintracContext.Users
                .Include(u => u.Workspaces)
                .ThenInclude(workspace => workspace.Goals)
                .ThenInclude(goal => goal.GoalCategory)
                .ToList();


        goal = FindGoalByToken(Token);
        _report = GenerateReport();
    }

    private Goal FindGoalByToken(string token)
    {
        List<User> allUsers = FintracContext.Users.ToList();

        foreach (var user in allUsers)
        {
            foreach (var workspace in user.Workspaces)
            {
                var goal = workspace.Goals.FirstOrDefault(g => g.Token == token);

                if (goal != null)
                {
                    _workspace = goal.Workspace;
                    return goal;
                }
            }
        }
        return null;
    }

    private GoalsReport GenerateReport()
    {
        if (goal != null)
        {
            GoalsReport report = new GoalsReport
                {
                    WorkSpace = _workspace,
                    Goal = goal
                };
            report.CalculateReport();
            return report;
        }
        else
        {
            return null;
        }
    }

}