@page "/profile"
@using BusinessLogic
@inject MemoryDatabase MemoryDatabase
@inject ToastService ToastService
@inject NavigationManager NavigationManager

@if (MemoryDatabase.isLoggedIn)
{
	<PageTitle>Profile</PageTitle>
	<div class="nav-item px-3">
		<NavLink class="nav-link" href="/">
			<span class="oi oi-chevron-left" aria-hidden="true"></span> Volver
		</NavLink>
	</div>

	<div class="d-flex justify-content-between">
		<h1>Perfil</h1>
		<button type="button" class="btn btn-danger" @onclick="ShowDeleteAccountModal">Eliminar Cuenta</button>
	</div>


	<div class="container profile-container">
		<div class="row">
			<div class="col-md-3">
				<img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="profile-image" alt="Profile Image" />
			</div>
			<div class="col-md-9">
				<div class="profile-info">
					<h2>@MemoryDatabase.currentUser.Name @MemoryDatabase.currentUser.LastName</h2>
					<p>@MemoryDatabase.currentUser.Email</p>
				</div>
				<div class="profile-details">
					<h3>Información del perfil</h3>
					<form @onsubmit="UpdateUser">
						<div class="form-group">
							<label for="name">Nombre</label>
							<input type="text" class="form-control" id="name" @bind="name" />
						</div>
						<div class="form-group">
							<label for="last-name">Apellido</label>
							<input type="text" class="form-control" id="last-name" @bind="lastName" />
						</div>
						<div class="form-group">
							<label for="address">Direccion</label>
							<input type="text" class="form-control" id="address" @bind="address" />
						</div>
						<div class="form-group">
							<label for="password">Contraseña</label>
							<input type="password" class="form-control" id="password" @bind="password" />
						</div>
						<button type="submit" class="btn btn-primary">Guardar detalles</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	@if (showDeleteAccountModal)
	{
		<div class="modal fade show" style="display: block; background: rgba(0, 0, 0, 0.5);" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Confirmar Eliminación</h5>
						<button type="button" class="close" aria-label="Close" @onclick="() => HideDeleteAccountModal()">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>¿Está seguro de que desea eliminar su cuenta?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" @onclick="() => HideDeleteAccountModal()">Cancelar</button>
						<button type="button" class="btn btn-danger" @onclick="DeleteAccount">Eliminar</button>
					</div>
				</div>
			</div>
		</div>
	}

	<style>
		.profile-container {
			margin-top: 1rem;
			margin-bottom: 1rem;
			background-color: #fff;
			padding: 1rem;
			border-radius: 8px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}

		.profile-image {
			width: 100%;
			border-radius: 50%;
		}

		.profile-info h2 {
			font-size: 1.5rem;
			font-weight: bold;
		}

		.profile-info p {
			font-size: 1rem;
		}

		.profile-details {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}

		.form-group {
			margin-bottom: 1rem;
		}

			.form-group label {
				font-weight: bold;
			}
	</style>


	@code {
	private String name;
	private String email;
	private String lastName;
	private String address;
	private String password;
	private User currentUser;

	private bool showDeleteAccountModal = false;

	private UserService _userService;

	protected override void OnInitialized()
	{
		if (MemoryDatabase.isLoggedIn)
		{
			currentUser = MemoryDatabase.currentUser;
			name = currentUser.Name;
			email = currentUser.Email;
			lastName = currentUser.LastName;
			address = currentUser.Address;
			password = currentUser.Password;
			_userService = new UserService(MemoryDatabase);
		}

	}

	private void ShowDeleteAccountModal()
	{
		showDeleteAccountModal = true;

	}

	private void HideDeleteAccountModal()
	{
		showDeleteAccountModal = false;
	}

	private void DeleteAccount()
	{
		try
		{
			showDeleteAccountModal = false;
			MemoryDatabase.isLoggedIn = false;
			ToastService.Notify(new(ToastType.Success, "Cuenta eliminada con éxito!"));
			NavigationManager.NavigateTo("/login");
			_userService.DeleteUser(currentUser);
		}
		catch (Exception e)
		{
			Console.WriteLine(e);
			ToastService.Notify(new(ToastType.Danger, $"Error: {e.Message}."));
		}
	}

	private void UpdateUser()
	{
		try
		{
			_userService.UpdateUser(name, email, lastName, address, password);
			ToastService.Notify(new(ToastType.Success, "Informacion actualizada con exito!"));
			NavigationManager.NavigateTo("/");
		}
		catch (Exception e)
		{

			ToastService.Notify(new(ToastType.Danger, $"Error: {e.Message}."));
		}
	}
	}
}
else
{
	try
	{
		NavigationManager.NavigateTo("/login");
	}
	catch
	{

	}
}