@page "/ExchangeList"

@using BusinessLogic
@using Domain
@inject MemoryDatabase MemoryDatabase

<div class="col-12">
	<Card Class="m-2 list-group-item" Style="width: auto;">
		<CardBody>
			<div class="d-flex justify-content-between align-items-center">
				<div>
					<span style="color:black">
						
					</span>
					Name
				</div>
				<NavLink>
					Ver detalles <i class="oi oi-arrow-right"></i>
				</NavLink>
			</div>
		</CardBody>
	</Card>
</div>

@code {
	protected override void OnInitialized()
	{
		

	}
}
