@page "/"

<PageTitle>Index</PageTitle>


@if (!isLoggedIn)
{
    <p>Debes iniciar sesión para acceder a esta página.</p>
    <a href="/login">Iniciar sesión</a>
}
@if (isLoggedIn)
{
    <h1>Hello, world!</h1>

    <p>Welcome to your new app.</p>

}

@code {
    private bool isLoggedIn = false;
}