@page "/"
@using BusinessLogic
@inject NavigationManager NavigationManager
@inject MemoryDatabase MemoryDatabase

<PageTitle>Index</PageTitle>


@if (!MemoryDatabase.isLoggedIn)
{
    try{
		NavigationManager.NavigateTo("/login");
	}
	catch (Exception e)
	{
		Console.WriteLine(e);
	}
}
@if (MemoryDatabase.isLoggedIn)
{
    <h1>Hello, world!</h1>

    <p>Welcome to your new app.</p>

}

@code {
    

    }
}